<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Gestion de Usuarios</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        	 <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/gestionausuarios}">Gestionde usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/tablerousuarios}">Tablero de usuarios</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
  <body>
  

   
   	<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Login</th>
      <th scope="col">fecha alta</th>
      <th scope="col">Estatus</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="tablero:${tablero}">
      <td th:text="${tablero.nombre}+' '+${tablero.apellido_paterno}"></td>
      <td th:text="${tablero.login}"></td>
      <td>2022-04-03</td>
      <td th:text="${tablero.status}"></td>			
      <td>
      <button type="button" class="btn btn-primary">Editar</button>
      <button type="button" class="btn btn-danger">Baja</button>
      </td>
    </tr>
    
  </tbody>
</table>
            
    
    

  
  
  

  </body>
</html>